name: Run python tests
on:
    workflow_dispatch
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        container: rootproject/root
        steps:
            - uses: actions/checkout@v2
            - name: Install dependancies
              run: apt install -y python3-pip && pip install matplotlib scipy nlopt pytest
            - name: Run tests with pytest
              run: pytest --disable-warnings

