name: Run python tests
on:
    workflow_dispatch:
        branches:
            - master
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up Miniconda
              uses: conda-incubator/setup-miniconda@v3
              with:
                auto-update-conda: true
                python-version: "3.12"
                channels: conda-forge
                activate-environment: test-env
            - name: Install ROOT and dependencies
              shell: bash -l {0}
              run: |
                conda install pytest coverage
                conda install --yes --file requirements.txt
            - name: Run tests with pytest
              shell: bash -l {0}
              #run: python3 -m pytest --disable-warnings
              run: coverage run --source test -m pytest --disable-warnings
            - name: Code Coverage Report
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                filename: coverage.xml
                badge: true

